@import "src/theme/variables";

.popUp {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(181, 181, 181, 0.8);;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__content {
    background-color: $general-white;
    position: fixed;
    top: 110px;
    padding: 40px 32px;
    border-radius: 8px;
    max-width: 1000px;
    margin: 20px;
    max-height: 70%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }

    @media screen and (max-width: $md) {
      padding: 10px;
    }
  }
}

.open-popUp {
  overflow: hidden;
}
