@import "src/theme/variables";

.primary-button {
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  background: $primary-button-color;
  color: $general-white;
  padding: 11px 45px 10px;
  width: fit-content;
  border: none;
  cursor: pointer;
  &:disabled {
    background-color: #b86963;
  }
  @media screen and (max-width: $sm) {
    padding: 18px 30px;
  }
  @media screen and (max-width: $xs) {
    font-size: 14px;
    padding: 12px 15px;
  }
  &:focus {
    outline: none;
  }
}
