$primary-button-color: #FF5D4F;

$primary-text-color: #000000;
$secondary-text-color: #616161;
$placeholder-text-color: #B5B5B5;

$footer-bck: #D3EBF9;

$error: #ED2E7E;

$general-white: #FFFFFF;

// breakpoint variables
$xl: 1450px;
$lg: 1210px;
$md: 1034px;
$sm: 810px;
$xs: 490px;
