@import "src/theme/variables";

.user-setting {
  display: flex;
  max-width: 394px;
  margin: 0 auto 80px;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  &__title {
    font-weight: bold;
    font-size: 20px;
    color: $primary-text-color;
    margin-bottom: 40px;
  }
  &__img {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
  & .user-setting__change_photo {
    padding: 7px 19px;
    margin-bottom: 34px;
  }
  &__form {
    text-align: center;
  }
  &__label {
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    color: $primary-text-color;
  }
  &__input {
    &::placeholder {
      font-weight: 600;
      font-size: 16px;
      color: $primary-text-color !important;
    }
  }
}